* {
    margin: 0;
    padding: 0;
}

body {
    /* width: 1440px; */
    margin: auto;
    margin-top: 100px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1440px; */
    height: 177px;
    background-color: #125380;
    text-align: center;

    font-size: 25px;
    color: #fff;
    font-weight: 300;
}

.sep-english-1 {
    margin: 0 10% 0 10%;
    width: 80%;
}

.text-intro {
    margin: 20px 10% 0 10%;
    width: 875px;
    width: 59%;
}

.text-intro h2 {
    font-size: 24pt;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-intro p {
    font-size: 16pt;
}

.course-list {
    list-style: none;
    margin: 20px 10% 0 10%;
}

.course-list .course {
    margin-bottom: 30px;
}

.course h3 {
    font-size: 18pt;
    font-weight: 600;
}

.course p {
    font-size: 14pt;
    margin-bottom: 20px;
}

.course__card {
    display: flex;
    width: 75%;
    height: 250px;
    border-radius: 20px;
    border: 3px solid rgba(68, 68, 68, 0.20);
    align-items: center;
    margin: auto;
}

.card__left {
    margin-left: 20px;
}

.card__right {
    margin-left: 70px;
}

.card__right h2 {
    font-size: 24pt;
    margin-bottom: 20px;
}

.card__right .more {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: #249DE3;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.card__right .more:hover {
    background-color: #107bb9 ;
}