* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    margin: auto;
    margin-top: 100px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 177px;
    background-color: #125380;
    text-align: center;

    font-size: 25px;
    color: #fff;
    font-weight: 300;
}

.toeic-4-skills {
    width: 1440px;
    margin-top: 10px;
    /* margin: auto; */
}

.text-intro {
    background-color: #125380;
    height: 200px;
    margin-top: 25px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 1440px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.text-intro h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-intro p {
    font-size: 24px;
}

.course-list {
    list-style: none;
    margin: 20px 130px 0 130px;
}

.course-list .course {
    margin-bottom: 30px;
}

.course-list .course .course-img{
    width: 1180px;
    margin: auto;
}

.course h3 {
    font-size: 35px;
    font-weight: 600;
}

.course p {
    font-size: 25px;
    margin-bottom: 20px;
}

.course__card {
    display: flex;
    width: 1180px;
    height: 250px;
    border-radius: 20px;
    border: 3px solid rgba(68, 68, 68, 0.20);
    align-items: center;

}

.card__left {
    margin-left: 20px;
}

.card__right {
    margin-left: 70px;
}

.card__right h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.card__right .more {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 250px;
    height: 61px;
    border-radius: 40px;
    background-color: #249DE3;
    font-size: 20px;
    text-align: center;
    line-height: 61px;
}

.card__right .more:hover {
    background-color: #107bb9 ;
}